.sing-up, .login{
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}
#google-signIn{
    background-color:green;
    color:#fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}